<div class="container">
  <div class="row">
    <div class="col-sm-4"></div>
    <div class="col-sm-4">
      <h2 class="text-center">Search Flights</h2>
      <form action="/getflights" method="POST" [formGroup]="form">
        <div class="form-group">
          <label for="departurecity">Departure City</label>
          <select class="form-control" formControlName="departurecity">
            <option value="" selected>---Select Departure City---</option>
            <option
              *ngFor="let city of descities"
              value="{{ city }}"
              [hidden]="form.get('destinationcity').value == city ? true : null"
            >
              {{ city }}
            </option>
          </select>
        </div>
        <div class="form-group">
          <label for="destinationcity">Destination City</label>
          <select class="form-control" formControlName="destinationcity">
            <option value="" selected>---Select Destination City---</option>
            <option
              *ngFor="let city of descities"
              value="{{ city }}"
              [hidden]="form.get('departurecity').value == city ? true : null"
            >
              {{ city }}
            </option>
          </select>
        </div>
        <div class="form-group">
          <label for="id">Departure Date</label>
          <input
            type="date"
            class="form-control"
            formControlName="date"
            id="date"
            placeholder="Select Departure Date"
            name="date"
          />
        </div>
        <div class="form-group">
          <label for="id">Seats</label>
          <input
            type="number"
            class="form-control"
            formControlName="seats"
            id="seats"
            placeholder="Enter Number of Seats"
            name="seats"
          />
        </div>
        <div class="form-group">
          <label for="id">Class</label>
          <select class="form-control" formControlName="class">
            <option value="" selected>---Select Class---</option>
            <option value="business">Business</option>
            <option value="economy">Economy</option>
          </select>
        </div>
        <button
          type="submit"
          class="btn btn-success"
          [disabled]="!form.valid"
          (click)="searchFlights(form.value)"
        >
          Search Flights
        </button>
        <i class="fa fa-spinner fa-spin" *ngIf="loading"></i>
      </form>
    </div>
  </div>
  <div class="row" *ngIf="flights !== ''">
    <br />
    <div *ngFor="let flight of flights">
      <div class="jumbotron">
        <div class="row">
          <div class="col-sm-1">
            <h5><b>Flight Number</b></h5>
            {{ flight.flightNumber }}
          </div>
          <div class="col-sm-2">
            <h5><b>Flight Name</b></h5>
            {{ flight.name }}
          </div>
          <div class="col-sm-2">
            <h5><b>Arrival Date</b></h5>
            {{ flight.arrivalDate }}
          </div>
          <div class="col-sm-2">
            <h5><b>Departure Time</b></h5>
            {{ flight.departureTime }}
          </div>
          <div class="col-sm-2">
            <h5><b>Arrival Time</b></h5>
            {{ flight.arrivalTime }}
          </div>
          <div class="col-sm-1">
            <h5><b>Business Price</b></h5>
            {{ flight.businessClassPrice }}
          </div>
          <div class="col-sm-1">
            <h5><b>Economy Price</b></h5>
            {{ flight.economyClassPrice }}
          </div>
          <div class="col-sm-1">
            <a [routerLink]="['/bookflight', flight.flightNumber]"
              ><button type="button" class="btn btn-primary center">
                Book
              </button></a
            >
          </div>
        </div>
      </div>
    </div>
  </div>
  <div class="row" *ngIf="message !== ''">
    <div class="row">
      <div class="col-sm-2"></div>
      <div class="col-sm-8 text-center">
        <h3 style="color: red">{{ message }}</h3>
      </div>
    </div>
  </div>
</div>
